<a href="/registration"><button type="button" style="margin: 0 auto;display: block; width: 300px; height: 100px;">Registration</button></a>
<p>0R</p>
<form action="/login" method="post">
  Username: <input style="margin-left: 3px;" type="text" name="username"><br>
  Password: <input style="margin-left: 1px;" type="password" name="password"><br>
  <input type="submit" value="login">
</form>
