<h1>registration.erb</h1>
<form action="/registration" method="post">
  Username: <input style="margin-left: 60px;" type="text" name="username"><br>
  Password: <input style="margin-left: 63px;" type="password" name="password"><br>
  Confirm Password: <input style="margin-left: 5px;" type="password" name="password_confirmation"><br>
  <input type="submit" value="register">
</form>